<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/myStyles.css">

    <title>Document</title>
</head>

<body>
    <div class="modal fade" id="modalIniciarSesion" tabindex="-1" data-bs-backdrop="static"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
                    <button type="button" class="btn-close" onclick="limpiarLogin()" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="correoLogin" class="form-label">Correo</label>
                            <input type="email" class="form-control" id="txtCorreologin" placeholder="Correo"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="ContraseñaLogin" class="form-label">Contraseña</label>

                            <div class="input-group">

                                <input id="passwordLogin" type="password" class="form-control" placeholder="Contraseña"
                                    aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" onclick="cambioIcono()">
                                    <div id="btnVerContrasena" style="display: block;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" id="imgVer" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                            <path
                                                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                        </svg>
                                    </div>
                                    <div id="imgNoVer" style="display: none;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                            <path
                                                d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z" />
                                            <path
                                                d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z" />
                                            <path
                                                d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z" />
                                        </svg>
                                    </div>

                                </button>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="limpiarLogin()"
                        data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="loguearse()" class="btn btn-primary">Iniciar Sesion</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRegistrarse" tabindex="-1" data-bs-backdrop="static"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrarse</h5>
                    <button type="button" id="btnCerrarRegistro" onclick="limpiarRegistro()" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-1 mt-1">
                            <label for="exampleInputEmail1" class="form-label">Nombres</label>
                            <input required type="text" class="form-control" id="txtNombresRegistro"
                                aria-describedby="emailHelp">
                        </div>

                        <div class="mb-1 mt-1">
                            <label for="exampleInputEmail1" class="form-label">Apellidos</label>
                            <input required type="text" class="form-control" id="txtApellidosRegistro"
                                aria-describedby="emailHelp">
                        </div>

                        <div class="mb-1 mt-1">
                            <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
                            <input required type="email" class="form-control" id="txtCorreoRegistro"
                                aria-describedby="emailHelp">
                        </div>

                        <div class="mb-0 mt-1">
                            <label for="contrasenaUno" class="form-label">Contraseña</label>
                            <input required type="password" class="form-control" id="txtContrasenaRegistro">
                        </div>

                        <div class="mb-1 mt-1">
                            <label for="contrasenaDos" class="form-label">Confirmar contraseña</label>
                            <input required type="password" class="form-control" id="txtContrasenaconfirmacion">
                        </div>

                        <div class="mb-1 mt-1">
                            <label class="form-label" for="exampleCheck1">¿Es usted maestro de música?</label>
                            <select name="" onchange="monitoria(value)" id="sltMaestro" class="form-select">
                                <option value="">--seleccione una opcion--</option>
                                <option value="Si">Si</option>
                                <option value="No">No</option>
                            </select>
                        </div>

                        <div class="mb-0" style="display: none;" id="pnlMunicipioRegistro">
                            <label for="contrasenaDos" class="form-label">Municipio de monitoria</label>
                            <input type="text" class="form-control" id="txtMunicipioRegistro">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="limpiarRegistro()"
                        data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="guardarRegistro()">Guardar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="card" style="overflow: hidden;">
        <div class="card-title justify-content-center pantallaCompleta cabeza" style="position: relative;">
            <div class="gradiente pantallaCompleta centroVertical">
                <h1 class="centrado text-light fs-1">Banda Juvenil Santa Secilia</h1>

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
                    style="position: absolute; bottom: 0; left: 0;">
                    <path fill="#0099ff" fill-opacity="1"
                        d="M0,96L60,133.3C120,171,240,245,360,256C480,267,600,213,720,176C840,139,960,117,1080,117.3C1200,117,1320,139,1380,149.3L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
                    </path>
                </svg>
            </div>
        </div>
        <div class="row card-body color-azul" style="width: 100vw; height: 100vh; margin-top: -10px;">
            <div class="col-md-6">
                <div class="card transparente" style="height: 50vh;">
                    <div class="card-title">
                        <h2>Misión</h2>
                        <p>
                            Nuestra misión es proporcionar a nuestros estudiantes un entorno musical enriquecedor y
                            estimulante, donde puedan desarrollar sus habilidades musicales y cultivar su sensibilidad
                            musical y cultural. Nos comprometemos a mantenerlos alejados de entornos perjudiciales y a
                            fomentar su crecimiento en entornos saludables. Nuestro objetivo es brindarles las
                            herramientas y oportunidades necesarias para que puedan florecer como músicos y como
                            individuos, nutriendo su pasión por la música y fomentando su bienestar integral.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 color">
                <div class="card marginTop-2 transparente">
                    <div class="card-title">
                        <img class="imagen rounded-circle float-end" src="assets/images/saxofonista.jpg">
                    </div>
                </div>
            </div>
        </div>

        <div class="row card-body color-azul" style="width: 100vw; height: 100vh; margin-top: -10px;">
            <div class="col-md-6">
                <div class="card transparente" style="height: 50vh;">
                    <div class="card-title">
                        <img class="imagen rounded-circle" src="assets/images/saxoSoprano.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6 color">
                <div class="card transparente">
                    <div class="card-title">
                        <h2>Visión</h2>
                        <p class="card-text">
                            Nuestra visión es crear y desarrollar equipos musicales excepcionales que se conviertan en
                            embajadores de nuestra región, promoviendo las habilidades musicales y fomentando la
                            creatividad en niños y jóvenes de nuestro municipio. Nos esforzamos por brindarles
                            oportunidades para crecer en un ambiente saludable y seguro, alejándolos de entornos
                            peligrosos que puedan poner en riesgo su integridad. Buscamos nutrir su pasión por la
                            música, inspirándolos a alcanzar su máximo potencial y proporcionándoles los recursos y el
                            apoyo necesarios para que florezcan como artistas. Nos enorgullece ver cómo nuestros equipos
                            musicales se destacan y representan con orgullo nuestra región, dejando una huella positiva
                            en la comunidad y sirviendo como modelo a seguir para otros jóvenes talentosos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer color-azulOscuro">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
                style="width: 100vw; margin-top: -1%; margin-left: -1.5%;">
                <path fill="#0099ff" fill-opacity="1"
                    d="M0,64L40,69.3C80,75,160,85,240,122.7C320,160,400,224,480,213.3C560,203,640,117,720,80C800,43,880,53,960,85.3C1040,117,1120,171,1200,170.7C1280,171,1360,117,1400,90.7L1440,64L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
                </path>
            </svg>
            <div class="row">
                <div class="col-md-6">
                    <table>
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <h2>
                                        Redes Sociales
                                    </h2>
                                </td>
                                <td colspan="2">
                                    <h2 class="ms-5">Contactanos</h2>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        Facebook
                                    </h3>
                                </td>
                                <td>
                                    <img src="assets/images/facebook.svg" alt="" class="socialMedia">
                                </td>
                                <td>
                                    <h3 class="ms-5">Whatsapp</h3>
                                </td>
                                <td>
                                    <img src="assets/images/whatsapp.svg" alt="" class="socialMedia">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h3>
                                        Twitter
                                    </h3>
                                </td>
                                <td>
                                    <img src="assets/images/twitter.svg" alt="" class="socialMedia">
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="col-md-6">
                    <table class="rounded float-end ">
                        <tbody>
                            <tr>
                                <td>
                                    <h2 data-bs-toggle="modal" data-bs-target="#modalIniciarSesion">
                                        Iniciar Sesión
                                    </h2>
                                </td>
                                <td>
                                    <img src="assets/images/key.svg" alt="" data-bs-toggle="modal"
                                        data-bs-target="#modalIniciarSesion" class="socialMedia">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 data-bs-toggle="modal" data-bs-target="#modalRegistrarse">
                                        Registrarse
                                    </h2>
                                </td>
                                <td>
                                    <button type="button" class="transparente" data-bs-toggle="modal"
                                        data-bs-target="#modalRegistrarse">
                                        <img src="assets/images/person-plus-fill.svg" alt="" class="socialMedia">
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</body>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/scripts/inicio.js"></script>

</html>