<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/myStyles.css">

    <title>Document</title>
</head>

<body>
    <div id="modalAgregarInstrumento">
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Agregar Instrumento</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            onclick="cancelarInstrumento()"></button>
                    </div>


                    <div class="modal-body">
                        <label class="form-label">Instrumento</label>
                        <input class="form-control" type="text" id="nombreInstrumento"
                            placeholder="ej: Flauta Traversa">
                        <label class="form-label mt-3">Serial</label>
                        <input type="text" class="form-control" id="serialInstrumento" placeholder="ej: SK239NDF">
                        <label class="form-label mt-3">Observaciones</label>
                        <textarea class="form-control" id="observacionInstrumento" rows="5"
                            placeholder="ej: Color mate, abolladura en la boquilla"></textarea>
                    </div>


                    <div class="modal-footer">
                        <button onclick="cancelarInstrumento()" id="btnCancelarRegistroInstrumento" type="button"
                            class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" onclick="guardarInstrumentos()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="menu">

    </div>

    <div class="card color-azul">
        <div class="card-tittle centrado">
            <h1>Instrumental</h1>
        </div>
        <div class="card-body">
            <div class="col">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Agregar Instrumento
                </button>
            </div>

            <div class="col">

                <table class="table table-dark table-hover mt-3">
                    <thead class="centrado">
                        <tr>
                            <th>Nombre</th>
                            <th>Serial</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="centrado" id="tablaInstrumentos">

                    </tbody>
                </table>
            </div>

        </div>

    </div>
</body>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/scripts/instrumentos.js"></script>

</html>